[submodule "open_source/opensovd-core"]
	path = open_source/opensovd-core
	url = https://github.com/novanirvana/opensovd-core
	branch = feat/log-provider
[submodule "TRAceON-ThreadX"]
	path = TRAceON-ThreadX
	url = git@github.com:Eclipse-SDV-Hackathon-Chapter-Four/TRAceON-ThreadX.git
	branch = main
[submodule "open_source/eclipse-autosd"]
	path = open_source/eclipse-autosd
	url = https://github.com/eclipse-autosd/eclipse-autosd.git
	branch = main
